@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

/* #region main */

.schedule-main {
  @extend %wrap-l;
  @extend %section-xl;

  #schedule {
    .table {
      tr {
        th {
          background-color: var.$background-color-dark;
        }

        td {
          .keynote {
            background-color: var.$background-color-primary;
          }

          .talk {
            background-color: var.$background-color-success;
          }
        }
      }
    }
  }

  // media query

  @include mix.mobile-styles {
    width: 90%;
    padding-bottom: var.$gutter-base;
  }

  @include mix.tablet-styles {
    width: 90%;
  }

  @include mix.laptop-m-styles {
    width: 90%;
  }
}

/* #endregion main */
